<header>
<% if @link %>
    <h1><a href="<%= path(@link.short_url) %>">lpm.io/<%= @link.short_url %></a></h1>
<% else %>
    <h1><a href="http://lpm.io">lpm.io</a>/???</h1>
<% end %>
<% if @err %>
    <h3><%= error_message(@err) %></h3>
<% end %>
</header>
