<%= erb :header %>
<form class="create-link" action="/links" method="POST">
    <!-- shoutout to @imkevinxu for inspiring this form design -->
    <input type="text" name="url" id="url-input" placeholder="enter a link" autocomplete="off" spellcheck="false" required>
    <input type="hidden" name="_method" value="post">
    <%= csrf_tag %>
    <button class="btn btn-default color3" type="submit">shtn!</button>
</form>